extends ../lib/docwrapper

append title-page
    title About me
append head-link
    link(rel ='stylesheet' href='../assets/css/lib/normalize.css')
    link(rel ='stylesheet' href='../assets/css/lib/boilerplate-style.css')
    link(rel ='stylesheet' href='../assets/css/lib/font-awesome.css')
    link(rel ='stylesheet' href='../assets/css/main.css')
append scripts
    script window.jQuery || document.write('<script src="../assets/js/lib/jquery-1.11.1.min.js"><\/script>')
    script(src="../assets/js/main.js")
append logo
    a(href="../")
        img(src="../assets/img/logo-2.png" alt="My Logo" style="width: 200px; height: 48px;")
    a(href="../").header_logo--fixed
        img(src="../assets/img/rr_logo.png" alt="My Logo" style="height: 60px;")
append mainNav-links
    nav.header_nav
        ul.header_list
            li.header_items
                a(href="").header_items--link About
            li.header_items
                a(href="../blog/").header_items--link Blog
            li.header_items
                a(href="../contact/").header_items--link Contact
append responsive-links
    nav.header_responsive
        ul.header_responsive--nav
            li.header_responsive--items
                a(href="").header_responsive--link About
            li.header_responsive--items
                a(href="../blog/").header_responsive--link Blog
            li.header_responsive--items
                a(href="../contact/").header_responsive--link Contact
append mainFooter
    ul
        li.footer_nav--items
            a(href="../").footer_nav--link Home
        li.footer_nav--items
            a(href="").footer_nav--link About
        li.footer_nav--items
            a(href="../blog/").footer_nav--link Blog
        li.footer_nav--items
            a(href="../contact/").footer_nav--link Contact
        li.footer_nav--items
            a(href="").footer_nav--link Facebook
        li.footer_nav--items
            a(href="").footer_nav--link Github
        li.footer_nav--items
            a(href="").footer_nav--link Twitter
block mainContent
    main.col-9.col-md-12.col-sm-12
        article.clearfix
            img(src="../assets/img/logo.png" alt="My Picture" style="min-height: 200px; width: 100%;")
            p
                |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, incidunt maxime atque totam cupiditate aperiam eos. Voluptatum excepturi quae quo animi nulla. Aliquid corrupti eius quis itaque amet nam aspernatur!
                |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat repudiandae placeat, ipsam quae ullam assumenda quidem dolorum suscipit totam laudantium minus optio, tempora molestias odit, architecto corporis sit similique hic aut odio itaque non provident modi laboriosam! Sint nihil voluptatum aspernatur aperiam eveniet consequuntur quos suscipit quae, perspiciatis, ut, at ipsum doloremque veritatis dolores minima. Harum, voluptatem iste. Molestiae veniam sint sapiente illum ad labore voluptatem, dolorem ex odio aliquid. Quo cupiditate dolorem error laborum quam optio molestiae mollitia nulla ab consequatur quisquam at laudantium dolore maxime deserunt ad repudiandae velit neque voluptas, quos, temporibus. Maxime distinctio laudantium aut repudiandae.
            p
                |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem accusamus deleniti fuga, culpa, accusantium vitae corporis vel obcaecati modi. Adipisci mollitia aliquam quis deserunt molestiae, ipsum voluptates quia porro expedita?
        .small-space
        .set.clearfix
            h2.set_title Expertise
            nav.widgets
                ul
                    li.list
                        ul
                            h4.widgets_title Principle
                            li.list_items HTML5
                            li.list_items CSS3
                            li.list_items Javascript
                            li.list_items jQuery
                    li.list
                        ul
                            h4.widgets_title Secondary
                            li.list_items Sass
                            li.list_items Jade
                            li.list_items Gulp
                            li.list_items Photoshop
                    li.list
                        ul
                            h4.widgets_title Version Control
                            li.list_items Git
                    li.list
                        ul
                            h4.widgets_title OS
                            li.list_items Windows
                    li.list
                        ul
                            h4.widgets_title IDEs/Editors
                            li.list_items Sublime Text 2
        .set.clearfix
            h2.set_title Projects
            nav.widgets
                ul.project_list
                    li.project_items
                        a(href="")
                            img(alt="Personal Website")
                    li.project_items
                        a(href="")
                            img(alt="Personal Website")
                    li.project_items
                        a(href="")
                            img(alt="Personal Website")
                    li.project_items
                        a(href="")
                            img(alt="Personal Website")
