extends ../lib/docwrapper

append title-page
    title About me
append head-link
    link(rel ='stylesheet' href='../assets/css/lib/normalize.css')
    link(rel ='stylesheet' href='../assets/css/lib/boilerplate-style.css')
    link(rel ='stylesheet' href='../assets/css/lib/font-awesome.css')
    link(rel ='stylesheet' href='../assets/css/main.css')
append scripts
    script window.jQuery || document.write('<script src="../assets/js/lib/jquery-1.11.1.min.js"><\/script>')
    script(src="../assets/js/main.js")
append logo
    a(href="../")
        img(src="../assets/img/logo.png" alt="My Logo" style="width: 250px")
append mainNav-links
    nav.header_nav
        ul.header_list
            li.header_items
                a(href="").header_items--link About
            li.header_items
                a(href="../blog/").header_items--link Blog
            li.header_items
                a(href="../contact/").header_items--link Contact

block mainContent
    main.col-9
        article.clearfix
            img(src="../assets/img/logo.png" alt="My Picture" style="min-height: 200px; width: 100%;")
            p
                |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, incidunt maxime atque totam cupiditate aperiam eos. Voluptatum excepturi quae quo animi nulla. Aliquid corrupti eius quis itaque amet nam aspernatur!
                |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat repudiandae placeat, ipsam quae ullam assumenda quidem dolorum suscipit totam laudantium minus optio, tempora molestias odit, architecto corporis sit similique hic aut odio itaque non provident modi laboriosam! Sint nihil voluptatum aspernatur aperiam eveniet consequuntur quos suscipit quae, perspiciatis, ut, at ipsum doloremque veritatis dolores minima. Harum, voluptatem iste. Molestiae veniam sint sapiente illum ad labore voluptatem, dolorem ex odio aliquid. Quo cupiditate dolorem error laborum quam optio molestiae mollitia nulla ab consequatur quisquam at laudantium dolore maxime deserunt ad repudiandae velit neque voluptas, quos, temporibus. Maxime distinctio laudantium aut repudiandae.
            p
                |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem accusamus deleniti fuga, culpa, accusantium vitae corporis vel obcaecati modi. Adipisci mollitia aliquam quis deserunt molestiae, ipsum voluptates quia porro expedita?
        .small-space
        .skills.clearfix
            h2 Skills
            nav.widgets
                ul.list
                    h3 Primary
                    li.list_items HTML5
                    li.list_items CSS3
                    li.list_items Js
                ul.list
                    h3 Secondary
                    li.list_items sass
                    li.list_items gulp
                    li.list_items nodejs
                ul.list
                    h3 Tools
                    li.list_items photoshop
                    li.list_items responsive design
                    li.list_items mobile
        .small-space
        .projects.clearfix
            h2 Projects
            nav.widgets
                ul.project_list
                    li.project_list_items
                        a(href="")
                            img(alt="Personal Website")
