$hover-colors:(
	"red" hsla(0, 97%, 70%, 1),
	"blue" hsla(198, 97%, 70%, 1),
	"orange" hsla(27, 97%, 70%, 1),
	"green" hsla(121, 97%, 70%, 1)
);
@each $hover in $hover-colors{
	.btn_#{nth($hover, 1)}:hover{
		background:nth($hover, 2);
		color: #EDEDED;
		text-decoration: none;
	}
}