.banner_background--image{
	height: $banner--height;
	background-image: $banner--image;
	background-size: cover;
}
.banner{
	width: 100%;
	height: 100%;
	overflow: hidden;
	color: #fff;
	text-align: center;
	.tagLine_title{
		margin: 3.125rem 0;
		font-size: 2.8em;
	}
	.btn_large{
		margin: 0 auto;
	}
}
