//@import '../base/variables';
.btn{
	display: block;
	padding: 10px;
	width: 150px;
	text-align: center;
	border-radius: 4px;
	text-decoration: none;
	color: #fff;
	box-shadow: $box_shadow--color;
	text-shadow: 0 2px 4px rgba(0,0,0,0.2);
	font-size: 1.266rem;
	text-transform: capitalize;
}
.btn_large{
	width: 300px;
	font-size: 1.802rem;
}
//buttons color
$colors: (
	"red" rgb(234, 3, 3),
	"blue" rgb(3, 164, 234),
	"orange" rgb(234, 108, 3),
	"green" rgb(3, 234, 6)
);
@each $color in $colors{
	.btn_#{nth($color, 1)}{
		background:nth($color, 2);
	}
}
