//@import '../base/variables';
.btn{
	display: block;
	padding: 10px;
	width: 134px;
	text-align: center;
	border-radius: 5px;
	text-decoration: none;
	color: white;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
	text-shadow: 1px 1px 4px rgba(0,0,0,0.4);
	font-size: 1.5rem;
}
.large-btn{
	width: 250px;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
}
//buttons color
$colors: (
	"red" rgb(234, 3, 3),
	"blue" rgb(3, 164, 234)
);
@each $color in $colors{
	.#{nth($color, 1)}-button{
		background:nth($color, 2);
	}
}
//hover colors
$hover-colors:(
	"red" #9dc02e rgb(234, 3, 3),
	"blue" #37465d  rgb(3, 164, 234)
);
@each $hover in $hover-colors{
	.#{nth($hover, 1)}-button:hover{
		background-image: linear-gradient(top, nth($hover, 3) 40%, nth($hover, 2) 60%);
	}
}