.contact-form{
	td{
		padding-bottom: 15px;
		input{
			outline: none;
			border:none;
			border-bottom: 1px solid #d9e0e2;
			letter-spacing: 1px;
			&:focus{
				border-bottom: 1px solid $outline--color;
			}
		}
		textarea{
			resize: none;
			outline: none;
			border: 1px solid #d9e0e2;
			&:focus{
				border: 1px solid $outline--color;
			}
		}
	}
}