.set{
	margin-bottom: 20px;
	&_title{
		border-bottom: 2px solid #d9e0e2;
	}
}
.list{
	width: 31%;
	height: 130px;
	float: left;
	margin-right: 2.062%;
	margin-bottom: 20px;
	border-right: 2px solid #eceff0;
		&:last-child{
			border-right: none;
			margin-right: 0;
		}
		h3{
			margin-bottom: 5px;
		}
		&_items{
			list-style-type: circle;
			margin-left: 12%;
		}
}
.widgets{
	&_title{
		margin-bottom: 6px;
	}
}
.project{
	&_items{
		width: 31%;
		float: left;
		margin-right: 2.062%;
		margin-bottom: 2.062%;
		height: 200px;
		list-style-type: none;
		border:2px solid #d9e0e2;
		box-shadow: $box_shadow--color;
	}
}