.list{
	@include gallery(3 of 9);
	border-right: 2px solid #eceff0;
	&:last-child{
		border-right: none;
	}
	&_items{
		list-style-type: circle;
		margin-left: 15px;
	}
}
.project{
	&_items{
		@include gallery(3 of 9);
		margin-bottom: 10px;
		height: 200px;
		list-style-type: none;
		border:2px solid #d9e0e2;
		box-shadow: $box_shadow--color;
	}
}