header{
	width: 100%;
	height: $header-height;
	background: $blue-darker;
	box-shadow: 0 2px 5px #ccc,inset 0 -1px 3px #A1A0A0;
	.l-logo{
		float: left;
		margin-top: $header-logo-margin-top;
	}
	.l-main-nav{
		float: right;
		.l-nav{
			padding: 0;
			margin: 0;
			margin-top: $header-nav-margin-top;
		}
		li{
			display: inline-block;
			margin-left: $header-nav-menu-margin-left;
			font-size: $h3-font-size;
		}
	}
}
/** Side bar */
.l-side-bar{
background: #fff;
	.l-sidebar-list{
		border-bottom: 2px solid #ccc;
		padding: 10px;
		padding-bottom: 5px;
		margin-bottom: 5px;
	}
	.l-sidebar-title{
		margin-bottom: 5px;
	}
	.l-sidebar-link{
		margin-left: 10px;
	}
	ul{
		list-style: none;
	}
/** footer */
}
footer{
	padding: 50px 0;
	border-top: 2px solid #ccc;
	text-align: center;
	background: $blue-darker;
}
