@media only screen and (min-width:960px){
	header{
		width: 100%;
		height: $header-height;
		background: $blue-darker;
		.l-logo{
			float: left;
			margin-top: $header-logo-margin-top;
		}
		.l-main-nav{
			float: right;
			.l-nav{
				padding: 0;
				margin: 0;
				margin-top: $header-nav-margin-top;
			}
			li{
				display: inline-block;
				margin-left: $header-nav-menu-margin-left;
				font-size: $h3-font-size;
			}
		}
	}
	/** Banner */
	.l-banner{
		background: #fefefe;
		.l-tagline-title{
			margin-bottom: 50px;
			text-align: center;	
			font-size: 3.8rem;
		}
		.l-banner-picture{
			text-align: center;
			.caption{
				display:block;
			}
		}
		.l-tagline{
			margin-top: 110px;
			.btn{
				margin-left:145px;
				margin-top: 30px;
			}
		}
	}
	/** main content */
	.l-main-content{
	}
	/**New blog post */
	.l-new-blog-list{
		.l-blog-title{
			text-align: center;
			padding-bottom: $list-blog-title-padding-bottom;
			margin-bottom: $list-blog-title-margin-bottom;
			border-bottom: $list-blog-title-border-bottom;
		}
		.l-new-blog{
		position: relative;
		padding-bottom: $list-new-blog-padding-bottom;
		border-bottom: $list-new-blog-border-bottom; 
			.l-date-posted{
				position: absolute;
				top: 0;
				right: 0;
			}
		}
		.l-blog-category{
			margin-top: $blog-category-margin-top;
			p{
				margin:$blog-category-p-margin;
			}
		}
	}
	/** Side bar */
	.l-side-bar{
		.l-sidebar-list{
			border-bottom: 2px solid #ccc;
			padding-bottom: 25px;
			margin-bottom: 25px;
		}
		.l-sidebar-title{
			margin-bottom: 5px;
		}
		.l-sidebar-link{
			margin-left: 10px;
		}
		ul{
			list-style: none;
		}
	/** footer */
	}
	footer{
	padding: 50px 0;
	text-align: center;
	}
}