@media screen and (min-width: 240px) and (max-width: 319px){
	body{
		background: darkorange;
	}
	.header_list{
		display: none;
	}
	.nav_icon{
		display: block;
	}
	.header_responsive{
		width: 100%;
	}
}