.header{
	box-shadow:$header--box-shadow;
	border-bottom: $header--border-bottom;
	background: $blue-darker;
	.logo{
		float: left;
		margin-top: $header_logo--margin-top;
		margin-bottom: $header_logo--margin-bottom;
	}
	.nav_main{
		float: right;
		&_links{
			padding: 0;
			margin: 0;
			margin-top: $header_nav--margin-top;
		}
		li{
			display: $header_navMenu--display;
			margin-left: $header_navMenu--margin-left;
			font-size: $h3-font-size;
		}
	}
	a{
		color: #fff;
		&:hover{
			color:$header_navlinks--hover-color;
			text-decoration: none;
		}
	}
}

/** Side bar */
.sideBar{
	section{
		margin-bottom: $sideBar_section--margin-bottom;
	}
	section+section{
		border: $sideBar_section--border;
		border-radius: $sideBar_section--border-radius;
		padding: $sideBar_section--padding;
	}
	&_intro{
		padding-bottom: $sideBar_intro--padding-bottom;
		border-bottom: $sideBar_intro--border-bottom;
	}
	&_title{
		margin-top: $sideBar_search--margin-top;
		margin-bottom: $sideBar_title--margin-bottom;
	}
	li + li{
		margin-left: $sideBar_linksIndent--margin-left;
	}
	&_search{
		margin-top: $sideBar_search--margin-top;
		input{
			height: $sideBar_searchInput--height;
			float: $sideBar_search--float;
			padding-left: $sideBar_search--padding-left;
			border-radius: $sideBar_search--border-radius;
			border: $sideBar_search--border;
			border-right: none;
			outline: $sideBar_search--outline;
		}
		button{
			height: 34px;
			padding: 0 10px;
			background: transparent;
			border: 1px solid #d9e0e2;
			border-radius: 0 8px 8px 0;
			&:hover{
				border-color: $outline--color;
			}
		}
	}
}

/** footer */
footer{
	color: #fff;
	padding: 50px 0;
	border-top: 2px solid rgb(200, 200, 200);
	text-align: center;
	background: $blue-darker;
}