header{
	width: $full-width;
	height: $header-height;
	background: $blue-darker;
	box-shadow:$header-box-shadow;
	.l-logo{
		float: left;
		margin-top: $header-logo-margin-top;
	}
	.l-main-nav{
		float: right;
		.l-nav{
			padding: 0;
			margin: 0;
			margin-top: $header-nav-margin-top;
		}
		li{
			display: inline-block;
			margin-left: $header-nav-menu-margin-left;
			font-size: $h3-font-size;
		}
	}
	a{
		&:hover{
			color:#EDEDED;
		}
	}
}

/** Side bar */
.l-side-bar{
border-bottom: 2px solid #ccc;//
padding: 10px 10px 20px;
margin-bottom: 5px;
	a{
		&:hover{
			color: #000;
			text-decoration: underline;
		}
		&:active{
			color:rgb(3, 164, 234);
		}
	}
	.sideBar-about-me{
		margin-top: 0px;
		margin-bottom: 5px;
	}
	.l-sidebar-title{
		margin-top: 0px;
		margin-bottom: 5px;
	}
	li + li{
		margin-left: 10px;
	}
	ul{
		list-style: none;
	}
	.search-blog{
		margin-top:10px;
		input{
			height: 34px;
			padding-left: 10px;
			border-radius: 8px 0 0 8px;
			border: 1px solid #ccc;
			outline: none;
		}
		button{
			height: 34px;
			padding: 0 10px;
			background: #fff;
			border: 1px solid #ccc;
			border-radius: 0 8px 8px 0;
		}
	}
}

/** footer */
footer{
	padding: 50px 0;
	border-top: 2px solid #ccc;
	text-align: center;
	background: $blue-darker;
}
//blog form style
.l-blog{
	position: relative;
	margin-bottom: 50px;
	padding-bottom: $list-new-blog-padding-bottom;
	border-bottom: $list-new-blog-border-bottom;
	.l-blog-date-posted{
		position: absolute;
		top: 0;
		right: 0;
	}
	.breadcrumb{
	margin: 0;
	padding: 0;
	padding-bottom: 30px;
		li{
			display: inline-block;
		}
	}
	.l-blog-title{
		text-align: center;
		padding-bottom: $list-blog-title-padding-bottom;
		margin-bottom: $list-blog-title-margin-bottom;
		border-bottom: $list-blog-title-border-bottom;
	}
	.l-blog-category{
		margin-top: $blog-category-margin-top;
		p{
			margin:$blog-category-p-margin;
		}
	}
}