//@import '../base/variables';
header{
	width: $full-width;
	height: $header--height;
	background: $blue-darker;
	box-shadow:$header--box-shadow;
	border-bottom: $header--border-bottom;
	.logo{
		float: left;
		margin-top: $header_logo--margin-top;
	}
	.nav_main{
		float: right;
		&_links{
			padding: 0;
			margin: 0;
			margin-top: $header_nav--margin-top;
		}
		li{
			display: $header_navMenu--display;
			margin-left: $header_navMenu--margin-left;
			font-size: $h3-font-size;
		}
	}
	a{
		&:hover{
			color:$header_navlinks--hover-color;
			text-decoration: none;
		}
	}
}

//blog module style
.blog{
	position: $blog--position;
	margin-bottom: $blog--margin-bottom;
	padding-bottom: $blog--padding-bottom;
	border-bottom: $blog--border-bottom;
	&_date_posted{
		position: $blog_date--position;
		top: $blog_date--top;
		right: $blog_date--right;
	}
	.breadcrumb{
		li{
			display: $blog_breadcrumbLinks--display;
		}
	}
	&_title{
		text-align: center;
		padding: $blog_title--padding;
		margin-bottom: $blog_title--margin-bottom;
		border-bottom: $blog_title--border-bottom;
	}
	&_picture{
		width: $blog_picture--width;
		height: $blog_picture--height;
		}
	&_content{
		overflow:$blog_content--overflow;
		&_links{
			color: $blog_contentLinks--color;
			text-decoration: $blog_contentLinks--text-decoration;
			text-transform: $blog_contentLinks--text-transform;
		}
	}
	&_category{
		margin-top: $blog_category--margin-top;
		text-transform: $blog_category--text-transform;
		p{
			margin:$blog_categoryPar--margin;
		}
	}
}

/** Side bar */
.sideBar{
	section{
		margin-bottom: $sideBar_section--margin-bottom;
	}
	section+section{
		border: $sideBar_section--border;
		border-radius: $sideBar_section--border-radius;
		padding: $sideBar_section--padding;
	}
	&_intro{
		margin-top: $sideBar_intro--margin-top;
		margin-bottom: $sideBar_intro--margin-top;
		padding-bottom: $sideBar_intro--padding-bottom;
		border-bottom: $sideBar_intro--border-bottom;
	}
	&_title{
		margin-top: $sideBar_search--margin-top;
		margin-bottom: $sideBar_title--margin-bottom;
	}
	li + li{
		margin-left: $sideBar_linksIndent--margin-left;
	}
	&_search{
		margin-top: $sideBar_search--margin-top;
		input{
			height: $sideBar_searchInput--height;
			float: $sideBar_search--float;
			padding-left: $sideBar_search--padding-left;
			border-radius: $sideBar_search--border-radius;
			border: $sideBar_search--border;
			outline: $sideBar_search--outline;
		}
		button{
			height: 34px;
			padding: 0 10px;
			background: #fff;
			border: 1px solid #ccc;
			border-radius: 0 8px 8px 0;
		}
	}
}

/** footer */
footer{
	padding: 50px 0;
	border-top: 2px solid #ccc;
	text-align: center;
	background: $blue-darker;
}