@media screen and (min-width: 320px) and (max-width: 479px){
	body{
		background: green;
	}
	.container{
		width: 95%;
		margin: 0 auto;
	}
	.col-md-12{
		@include span(12);
		margin: 0;
	}
	.col-md-4{
		@include span(8);
	}
	.header_list{
		display: none;
	}
	.nav_icon{
		display: block;
	}
	.header_responsive{
		width: 100%;
	}
}