@media screen and (min-width: 320px) and (max-width: 479px){
	.container{
		width: 95%;
		margin: 0 auto;
	}
	.col-sm-12{
		@include span(12);
	}
	.header_list{
		display: none;
	}
	.nav_icon{
		display: block;
	}
	.header_responsive{
		width: 100%;
	}
	.sideBar_search--input{width:65%}
	.list{
		width: 100%;
		margin-right: 0;
		border-right: 0;
		margin-bottom: 15px;
	}
	.project_items{
		width: 100%;
		margin-right: 0;
		margin-bottom: 5.062%;
	}
}