@media screen and (min-width: 720px) and (max-width: 799px){
	.container{
		width: 95%;
		margin: 0 auto;
	}
	.col-md-12{
		@include span(12);
		margin: 0;
	}
	.col-md-6{
		@include span(6);
	}
	.header_list{
		display: none;
	}
	.nav_icon{
		display: block;
	}
	.header_responsive{
		width: 50%;
	}
	.sideBar_search--input{width:55%}
	.sideBar_search--btn{width:15%}
	.blog_index{
		float: none;
		width: 50%;
		margin: 0 auto;
		text-align: center;
	}
	.sideBar{
		margin-top: 50px;
	}
}