.contact-form{
	td{
		padding-bottom: 15px;
		input{
			outline: none;
			border:none;
			border-bottom: 1px solid #eceff0;
			letter-spacing: 1px;
			&:focus{
				border-bottom: 1px solid #59C9EF;
			}
		}
		input[type="submit"]{
				background: #fff;
				border: 1px solid #BDBDBD;
				border-radius: 5px;
				padding: 10px 10px;
		}
		textarea{
			resize: none;
			outline: none;
			&:focus{
				border: 1px solid #59C9EF;
			}
		}
	}
}