/** Banner */
.banner{
	background: url("../img/pw-banner-bg.jpg") no-repeat;
	background-size: cover;
	min-width: 1024px;
	min-height: 683px;
	color: #fff;
	text-align: center;
	.tagLine_title{
		margin: 50px 0;
		font-size: 2.8rem;
	}
	.btn_large{
		margin: 0 auto;
	}
}
