*{
	box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
	font: 100%/1.4 "lato",Tahoma,sans-serif;
	font-weight: 400;
	color: #222;
	background:#fff;
}
a{
	text-decoration: none;
	font-family: 'ubuntu';
	color:#7E7E7E;
	&:hover{
			color:#000;
			text-decoration: underline;
	}
	&:active{
		color:rgb(3, 164, 234);
	}
}
ul{
	margin: 0;
	padding: 0;
	list-style:none;
}
h1,h2,h3,h4,h5,h6{
	margin-top: 0;
	margin-bottom: 15px;
	font-family: 'oswald';
	font-weight: normal;
}
h1{
	font-size: 1.802rem;
}
h2{
	font-size: 1.602rem;
	border-bottom: 2px solid #d9e0e2;
}
h3{
	font-size: 1.424rem;
}
h4{
	font-size: 1.266rem;
}
h5{
	font-size: 1.125rem;
}
h6{
	font-size: 1rem;
}
ul{
	padding: 0;
	margin: 0;
}
//getting rid of deprecation warning in susy
@mixin box-sizing($value){
	-moz-box-sizing: $value;
		 box-sizing: $value;
}

