*{
	box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
	font: 100%/1.4 "lato",Tahoma,sans-serif;
	color: #222;
	background:#fff;
}
a{
	text-decoration: none;
	color: #FF2222;
	font-family: 'ubuntu';
}
a:active{
	color: #2222FF;
}
ul{
	list-style:none;
}
h1,h2,h3,h4,h5,h6{
	margin-top: 0;
	margin-bottom: 15px;
	font-family: 'oswald';
}
h1{
	font-size: 1.802rem;
}
h2{
	font-size: 1.602rem;
}
h3{
	font-size: 1.424rem;
}
h4{
	font-size: 1.266rem;
}
h5{
	font-size: 1.125rem;
}
h6{
	font-size: 1rem;
}
ul{
	padding: 0;
	margin: 0;
}
//getting rid of deprecation warning in susy
@mixin box-sizing($value){
	-moz-box-sizing: $value;
		 box-sizing: $value;
}

