/**
 * lato for content
 * oswald for title
 * ubuntu for nav
 */
@font-face{
	font-family: 'lato';
	src: url('../../assets/fonts/Lato.ttf') format('truetype');
}
@font-face{
	font-family: 'oswald';
	src: url('../../assets/fonts/Oswald.ttf') format('truetype');
}
@font-face{
	font-family: 'ubuntu';
	src: url('../../assets/fonts/Ubuntu.ttf') format('truetype');
}