$susy:(
	columns: 12,
	gutters: 1/4,
	math: fluid,
	output: float,
	gutter-position: split,
);
.container{
	max-width: 1280px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
@for $i from 1 through 11 {
	.col-#{$i}{
		@include span($i);
	}
}
.col-12{
	width: 100%;
	float: left;
	margin: 0;
}