/** Global variable */
$full-width: 100%;
$h1-font-size: 1.802rem;
$h2-font-size: 1.602rem;
$h3-font-size: 1.424rem;
$h4-font-size: 1.266rem;
$h5-font-size: 1.125rem;
$h6-font-size: 1rem;

/** Header */
$header-height: 100px;
$header-logo-margin-top: 25px;
$header-nav-margin-top: 40px;
$header-nav-menu-margin-left: 40px;

/** banner */
// after the photoshop picture
//banner text-align center try it
/** main content */
$mainContent-text-align: center;
$list-blog-title-padding-bottom: 50px;
$list-blog-title-margin-bottom: 30px;
$list-blog-title-border-bottom: 2px dashed #ccc;
$list-new-blog-padding-bottom: 50px;
$list-new-blog-border-bottom: 2px solid #ccc;
$blog-category-margin-top:20px;
$blog-category-p-margin: 0px;

//main color: 
$white : #f2f2f2;
$blue-dark : #37465d;
$blue-darker : #051a37;
$green-dark : #9dc02e;
$green-darker : #779324; 
