/** Global variable */
$full-width: 100%;
$h1-font-size: 1.802rem;
$h2-font-size: 1.602rem;
$h3-font-size: 1.424rem;
$h4-font-size: 1.266rem;
$h5-font-size: 1.125rem;
$h6-font-size: 1rem;
/** Colors */
//main color:
$white : #f2f2f2;
$blue-dark : #37465d;
$blue-darker : #051a37;
$green-dark : #9dc02e;
$green-darker : #779324;
//outline color
$outline--color: #59C9EF;
//box-shadow
$box_shadow--color: 1px 1px 4px rgba(0,0,0,0.4);

/** Header */
$header--box-shadow: 0 0 5px rgba(0,0,0,0.4);
$header--border-bottom: 1px solid rgb(200, 200, 200);
//logo
$header_logo--margin-top: 1.125rem;
$header_logo--margin-bottom: .625rem;
//navigation
$header_nav--margin-top: 1.875rem;
$header_navMenu--margin-left: 2.5rem;
$header_navMenu--display: inline-block;
$header_navlinks--color: #c8c8c8;
$header_navlinks--hover-color: #EDEDED;

/** banner */
$banner--height: 70vh;
$banner--image: url("../img/banner_bg.jpg");

/** sideBar */
$sideBar_section--margin-bottom: 30px;
$sideBar_section--border: 1px solid #d9e0e2;
$sideBar_section--border-radius: 4px;
$sideBar_section--padding: 10px;
//intro
$sideBar_intro--margin-top: 0px;
$sideBar_intro--margin-bottom: 5px;
$sideBar_intro--padding-bottom: 5px;
$sideBar_intro--border-bottom: 2px solid #d9e0e2;
//title
$sideBar_title--margin-top: 0px;
$sideBar_title--margin-bottom: 5px;
//links
$sideBar_linksIndent--margin-left: 10px;
//search
$sideBar_search--margin-top: 10px;
$sideBar_searchInput--height:34px;
$sideBar_search--float: left;
$sideBar_search--padding-left: 10px;
$sideBar_search--border-radius: 8px 0 0 8px;
$sideBar_search--border: 1px solid #d9e0e2;
$sideBar_search--outline: none;
//button

/** main content */
$mainContent-text-align: center;
//blog
$blog--margin-bottom: 50px;
$blog--padding-bottom: 50px;
$blog--border-bottom: 2px solid #d9e0e2;
$blog--position: relative;
//date
$blog_date--position: absolute;
$blog_date--top: 0;
$blog_date--right: 0;
//breadcrumb
$blog_breadcrumbLinks--display: inline-block;
//title
$blog_title--padding: 35px 0;
$blog_title--margin-bottom: 30px;
$blog_title--border-bottom: 2px dashed #d9e0e2;
//picture
$blog_picture--width: 100%;
$blog_picture--height: 350px;
//content
$blog_content--overflow: hidden;
$blog_contentLinks--color: #000;
$blog_contentLinks--text-decoration: underline;
$blog_contentLinks--text-transform: uppercase;

//category
$blog_category--margin-top: 20px;
$blog_categoryPar--margin: 5px;
$blog_category--text-transform: capitalize;
/** footer */

