extends ../lib/docwrapper
append title-page
    title Blog
append head-link
    link(rel ='stylesheet' href='../assets/css/lib/normalize.css')
    link(rel ='stylesheet' href='../assets/css/lib/boilerplate-style.css')
    link(rel ='stylesheet' href='../assets/css/main.css')
append logo
    a(href='../')
        img(src="../assets/img/logo.png" alt="My Logo" style="width: 250px")
append main-nav-links
    li
        a(href="../about/") About
    li
        a(href="") Blog
    li
        a(href="../contact/") Contact
block mainContent
    main.col-9
        .l-blog
            ul.breadcrumb
                li: a(href="") Fb
                li: a(href="") Twitter
            .l-blog-date-posted March 5, 2015 / Robert Janagap
            h1.l-blog-title Blog Title || New Post
            img(src="../assets/img/image_1.jpg").l-blog-post-picture
            p
                |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus quos sunt iure officia, consectetur illo repellendus itaque aut incidunt. Voluptate error, deleniti culpa vel repudiandae doloremque velit reprehenderit placeat veniam esse, minus ab similique iusto vitae quaerat aspernatur ipsum. Nostrum?