extends ../lib/docwrapper
append title-page
    title Blog
append head-link
    link(rel ='stylesheet' href='../assets/css/lib/normalize.css')
    link(rel ='stylesheet' href='../assets/css/lib/boilerplate-style.css')
    link(rel ='stylesheet' href='../assets/css/main.css')
append logo
    a(href='../')
        img(src="../assets/img/logo.png" alt="My Logo" style="width: 250px")
append main-nav-links
    li
        a(href="../about/") About
    li
        a(href="") Blog
    li
        a(href="../contact/") Contact
block mainContent
    main.col-9
        .blog.clearfix
            ul.breadcrumb
                li: a(href="") Fb
                li: a(href="") Twitter
            .blog_date_posted
                | March 5, 2015 /
                a(href="about/index.html") Robert Janagap
            h1.blog_title Blog Title || New Post
            img(src="assets/img/image_1.jpg").blog_picture
            p.blog_content
              |   Lorem ipsum dolor sit amet,
              a(href="#").blog_content_links consectetur
              | adipisicing elit. Ipsa veritatis excepturi distinctio tempore incidunt quas non quaerat harum alias eum dolore doloremque, sequi eveniet porro, ratione, perspiciatis quos. Qui excepturi id illo nemo totam fugiat, enim mollitia perferendis voluptas vitae, natus eligendi officiis debitis eum delectus assumenda repellendus quod dolorem.....
            a(href="#").btn.green-button read more
            .blog_category
                p Category: Web Development, Design
                p Tag: Youjizz, Fakku