extends ../lib/docwrapper
append title-page
    title Blog
append head-link
    link(rel ='stylesheet' href='../assets/css/lib/normalize.css')
    link(rel ='stylesheet' href='../assets/css/lib/boilerplate-style.css')
    link(rel ='stylesheet' href='../assets/css/main.css')
append logo
    a(href='../')
        img(src="../assets/img/logo.png" alt="My Logo" style="width: 250px")
block header
    header.header.clearfix
        .container
            .logo
                block logo
            nav.header_nav
                ul.header_list
                    li.header_items
                        a(href="../about/").header_items--link About
                    li.header_items
                        a(href="").header_items--link Blog
                    li.header_items
                        a(href="../blog/").header_items--link Contact
block mainContent
    main.col-9
        section.blog.clearfix
            ul.breadcrumb
                li: a(href="") Fb
                li: a(href="") Twitter
            .blog_date_posted
                | March 5, 2015 /
                a(href="about/index.html") Robert Janagap
            h1.blog_title Blog Title || New Post
            img(src="../assets/img/image_1.jpg").blog_picture
            article.blog_content
                p
                    | Lorem ipsum dolor sit amet,
                    a(href="#").blog_content_links consectetur
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius impedit ipsum consequatur explicabo ea facilis mollitia nobis. Soluta dicta cumque aut labore error esse optio cupiditate laboriosam illum tempora animi in, eius facilis atque molestias dignissimos temporibus consectetur nostrum saepe maiores iusto natus beatae. Placeat ab assumenda cumque deserunt molestias.
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis dolorem, atque fugiat, enim ab nemo ipsum provident modi optio harum hic distinctio deserunt aliquid voluptatibus consequuntur cum. Eos eaque illo, dolorem adipisci repellat mollitia maiores facere ex eum earum iste. Atque facilis eum beatae quas earum fugit nobis, nam voluptatibus.
            .blog_category
                p
                    | category:
                    a(href="#")  web Development
                    | ,
                    a(href="#")  web Design
                p
                    | tags:
                    a(href="#")  youjizz
                    | ,
                    a(href="#")  fakku