extends lib/docwrapper

append title-page
    title Robert Janagap

append head-link
    link(rel='stylesheet' href='assets/css/lib/normalize.css')
    link(rel='stylesheet' href='assets/css/lib/boilerplate-style.css')
    link(rel='stylesheet' href='assets/css/lib/font-awesome.css')
    link(rel='stylesheet' href='assets/css/main.css')
append scripts
    script window.jQuery || document.write('<script src="assets/js/lib/jquery-1.11.1.min.js"><\/script>')
    script(src="assets/js/main.js")
append logo
    a(href="")
        img(src="assets/img/logo-2.png" alt="My Logo" style="width: 200px; height: 48px;")
    a(href="").header_logo--fixed
        img(src="assets/img/rr_logo.png" alt="My Logo" style="height: 60px;")
append mainNav-links
    nav.header_nav
        ul.header_list
            li.header_items
                a(href="about/").header_items--link About
            li.header_items
                a(href="blog/").header_items--link Blog
            li.header_items
                a(href="contact/").header_items--link Contact
append responsive-links
    ul.header_responsive
        li.header_responsive--items
            a(href="about/").header_responsive--link About
        li.header_responsive--items
            a(href="blog/").header_responsive--link Blog
        li.header_responsive--items
            a(href="contact/").header_responsive--link Contact
append mainFooter
    ul
        li.footer_nav--items
            a(href="").footer_nav--link Home
        li.footer_nav--items
            a(href="about/").footer_nav--link About
        li.footer_nav--items
            a(href="blog/").footer_nav--link Blog
        li.footer_nav--items
            a(href="contact/").footer_nav--link Contact
        li.footer_nav--items
            a(href="").footer_nav--link Facebook
        li.footer_nav--items
            a(href="").footer_nav--link Github
        li.footer_nav--items
            a(href="").footer_nav--link Twitter
block banner
    .banner.container
        h1.tagLine_title Constant And Never-ending Improvements
        .tagLine
            .tagLine_picture
                img(src="assets/img/pw-picture.png" alt="Profile Picture")
                .caption Robert Y. Janagap
            p A student, freelancer and Front-end Developer/Designer. Living in the city of smile Bacolod city from Philippines.
            a(href="about/").btn.btn_large.btn_blue view my portfolio
block mainContent
    main.col-9.col-md-12.col-sm-12
        h2 New Blogs
        section.blog.clearfix
            ul.breadcrumb
                li: .fb-share-button(data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count") Share
                //-li: <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count">share</div>
                li: a(href="") Twitter
            .blog_date_posted
                | March 5, 2015 /
                a(href="about/index.html") Robert Janagap
            h1.blog_title Blog Title || New Post
            img(src="assets/img/image_1.jpg").blog_picture
            article.blog_content
              p
                |   Lorem ipsum dolor sit amet,
                a(href="#").blog_content_links consectetur
                | adipisicing elit. Ipsa veritatis excepturi distinctio tempore incidunt quas non quaerat harum alias eum dolore doloremque, sequi eveniet porro, ratione, perspiciatis quos. Qui excepturi id illo nemo totam fugiat, enim mollitia perferendis voluptas vitae, natus eligendi officiis debitis eum delectus assumenda repellendus quod dolorem.....
            a(href="#").btn.btn_green read more
            .blog_category
                p
                    | category:
                    a(href="#")  web Development
                    | ,
                    a(href="#")  web Design
                p
                    | tags:
                    a(href="#")  youjizz
                    | ,
                    a(href="#")  fakku
        section.blog.clearfix.blog_lastChild
            ul.breadcrumb
                li: a(href="") Fb
                li: a(href="") Twitter
            .blog_date_posted
                | March 5, 2015 /
                a(href="about/index.html") Robert Janagap
            h1.blog_title Blog Title || New Post
            img(src="assets/img/image_1.jpg").blog_picture
            article.blog_content
              p
                |   Lorem ipsum dolor sit amet,
                a(href="#").blog_content_links consectetur
                | adipisicing elit. Ipsa veritatis excepturi distinctio tempore incidunt quas non quaerat harum alias eum dolore doloremque, sequi eveniet porro, ratione, perspiciatis quos. Qui excepturi id illo nemo totam fugiat, enim mollitia perferendis voluptas vitae, natus eligendi officiis debitis eum delectus assumenda repellendus quod dolorem.....
            a(href="#").btn.btn_green read more
            .blog_category
                p
                    | category:
                    a(href="#")  web Development
                    | ,
                    a(href="#")  web Design
                p
                    | tags:
                    a(href="#")  youjizz
                    | ,
                    a(href="#")  fakku
    .scroll_top
        .scroll_top--btn.fa.fa-arrow-circle-up.fa-4x





