extends lib/docwrapper

append head-link
   link(rel="stylesheet" href="assets/css/main.css")
   link(rel='stylesheet', href='assets/css/lib/normalize.css')
   link(rel='stylesheet', href='assets/css/lib/boilerplate-style.css')
append logo 
   img(src="assets/img/logo.png" alt="My Logo" style="width: 250px")
append banner
  .container.clearfix
    .l-banner.clearfix
      h1.l-tagline-title Constant And Never-ending Improvements
      .l-banner-picture.col-4
        img(src="assets/img/profile-picture.jpg" alt="Profile Picture")
        .caption Robert Janagap
      .l-tagline.col-8
        span A student, freelancer and Front-end Developer/Designer. Living in the city of smile Bacolod city from Philippines.  
        a.btn.primary-btn.green-button View my Portfolio
  .small-space
  hr
block mainContent
  .l-main-content
    .l-new-blog-list.clearfix.col-9
      h2 New Blogs:
      article.l-new-blog
        ul.breadcrumb
          li: a(href="") Fb
          li: a(href="") Twitter
        .l-date-posted March 5, 2015
        h1.l-blog-title Blog Title || New Post
        img(style = "width:100%; height:200px; background: blue;")
        p
          |   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa veritatis excepturi distinctio tempore incidunt quas non quaerat harum alias eum dolore doloremque, sequi eveniet porro, ratione, perspiciatis quos. Qui excepturi id illo nemo totam fugiat, enim mollitia perferendis voluptas vitae, natus eligendi officiis debitis eum delectus assumenda repellendus quod dolorem.....
        a.btn.blue-button read more
        .l-blog-category
          p Category: Web Development, Design
          p Tag: Youjizz, Fakku
      article.l-new-blog
        ul.breadcrumb
          li: a(href="") Fb
          li: a(href="") Twitter
        .l-date-posted March 5, 2015
        h1.l-blog-title Blog Title || New Post
        img(style = "width:100%; height:200px; background: blue;")
        p
          |   Lorem ipsum dolor sit amet, 
          a(href="#") consectetur 
          | adipisicing elit. Ipsa veritatis excepturi distinctio tempore incidunt quas non quaerat harum alias eum dolore doloremque, sequi eveniet porro, ratione, perspiciatis quos. Qui excepturi id illo nemo totam fugiat, enim mollitia perferendis voluptas vitae, natus eligendi officiis debitis eum delectus assumenda repellendus quod dolorem.....
        a.btn.blue-button read more
        .l-blog-category
          p Category: Web Development, Design
          p Tag: Youjizz, Fakku
    

    
