doctype
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Wizard
    meta(name='description', content='My Personal website home page.')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    block head-link
    //-script(src='assets/js/modernizr-2.7.1.min.js')

  body
    <!--[if lt IE 8]>
    p.browsehappy
      | You are using an <strong>outdated</strong> browser.
      | Please <a href="http://browsehappy.com/">upgrade your browser</a>
      | to improve your experience.
    <![endif]-->
    
    include header
    
    block banner

    .small-space
    .container.clearfix
        block mainContent
        include sideBar

    include footer

    include scripts
