footer
    .container
        .footer
            .footer_logo
                block logo
            .footer_copyright
                |  copyright &copy; 2015
                block myName
            .footer_nav
                block mainFooter