footer
	.container
		.footer
			.footer_logo
				block logo
			.footer_copyright
				|  copyright &copy; 2015
				a(href="")  Robert Janagap
			.footer_nav
				ul
					li.footer_nav--items
						a(href="").footer_nav--link Home
					li.footer_nav--items
						a(href="").footer_nav--link About
					li.footer_nav--items
						a(href="").footer_nav--link Blog
					li.footer_nav--items
						a(href="").footer_nav--link Contact
					li.footer_nav--items
						a(href="").footer_nav--link Facebook
					li.footer_nav--items
						a(href="").footer_nav--link Github
					li.footer_nav--items
						a(href="").footer_nav--link Twitter