footer
	.container
		.footer
			.footer_content
				//block logo
				.copyright
					a(href="") Robert Janagap
					|  &copy; copyright 2014
			.footer_icons
				ul
					li.footer_items
						a.footer_items--link.fa.fa-facebook-square.fa-lg(href="")
					li.footer_items
						a.footer_items--link.fa.fa-twitter-square.fa-lg(href="")
					li.footer_items
						a.footer_items--link.fa.fa-github-square.fa-lg(href="")