footer
	.container
		.footer
			.footer_copyright.col-4
				a(href="") Robert Janagap
				|  &copy; copyright 2015
			.footer_logo.col-4
				block logo
			.footer_icons.col-4
				ul.footer_navIcons
					li.footer_navIcons--items
						a.footer_NavIcons--link.fa.fa-facebook-square.fa-lg(href="" title="Facebook")
					li.footer_navIcons--items
						a.footer_navIcons--link.fa.fa-twitter-square.fa-lg(href="" title="twitter")
					li.footer_navIcons--items
						a.footer_navIcons--link.fa.fa-github-square.fa-lg(href="" title="github")