footer
    .container
        .footer
            .footer_logo
                block logo
            .footer_copyright
                |  copyright &copy; 2015
                a(href="")  Robert Janagap
            .footer_nav
                block mainFooter