header
  .container.clearfix
    .l-logo
      block logo
    nav.l-main-nav
      ul.l-nav
        li
          a(href="about/index.html") About
        li
          a(href="blog/index.html") Blog
        li
          a(href="contact/index.html") Contact