aside.l-side-bar.col-3
    ul
      li
        p.sideBar-about-me I'm Robert Janagap a front-end developer and focusing more in javascript.you can follow me in.
      li
        a(href="") fb
      li
        a(href="") twitter
      li
        a(href="") gmail
aside.l-side-bar.col-3
    ul
      li
        h3.l-sidebar-title Recent Blogs
      li
        a(href="#") Front-end Developer
      li
        a(href="#") web designer
      li
        a(href="#") web developer
      li
        a(href="#") back-end developer
      li
        a(href="#") blogger
    .search-blog
      form
        input(type="text" name="search")
        button S
