aside.sideBar.col-3.col-md-6.col-sm-12
  section.sideBar_section
    div.sideBar_intro I'm Robert Janagap a front-end guy. Making your dream website is my priority. Teamwork and good communication is one of my motivation.
  section.sideBar_section
    ul
      li.sideBar_items
        h3.sideBar_title Follow Me
      li.sideBar_items
        a(href="").sideBar_items--link
          .fa.fa-facebook-square.fa-lg
          | Facebook
      li.sideBar_items
        a(href="").sideBar_items--link
          .fa.fa-twitter-square.fa-lg
          | Twitter
      li.sideBar_items
        a(href="").sideBar_items--link
          .fa.fa-github-square.fa-lg
          | Github
  section.sideBar_section
    ul
      li.sideBar_items
        h3.sideBar_title Recent Blogs
      li.sideBar_items
        a(href="").sideBar_items--link My first Blog
  section.sideBar_section
    ul
      li.sideBar_items
        h3.sideBar_title Top Blogs
      li.sideBar_items
        a(href="").sideBar_items--link My first Blog
  section.sideBar_section
    h3.sideBar_title Search
    .sideBar_search
      form.clearfix
        input(type="text" name="search").sideBar_search--input
        button.sideBar_search--btn
          .fa.fa-search.fa-lg

