aside.sideBar.col-3.col-md-6.col-sm-12
  section.sideBar_section
    div.sideBar_intro I'm Robert Janagap a front-end developer and focusing more in javascript.you can follow me in.
  section.sideBar_section
    ul
      li.sideBar_items
        h3.sideBar_title Follow Me
      li.sideBar_items
        a(href="")
          .fa.fa-facebook-square.fa-lg
          | Facebook
      li.sideBar_items
        a(href="")
          .fa.fa-twitter-square.fa-lg
          | Twitter
      li.sideBar_items
        a(href="")
          .fa.fa-github-square.fa-lg
          | Github
  section.sideBar_section
    ul
      li.sideBar_items
        h3.sideBar_title Recent Blogs
      li.sideBar_items
        a(href="#") Front-end Developer
      li.sideBar_items
        a(href="#") web designer
      li.sideBar_items
        a(href="#") web developer
      li.sideBar_items
        a(href="#") back-end developer
      li.sideBar_items
        a(href="#") blogger
  section.sideBar_section
    ul
      li.sideBar_items
        h3.sideBar_title Top Blogs
      li.sideBar_items
        a(href="#") Front-end Developer
      li.sideBar_items
        a(href="#") web designer
      li.sideBar_items
        a(href="#") web developer
      li.sideBar_items
        a(href="#") back-end developer
      li.sideBar_items
        a(href="#") blogger
  section.sideBar_section
    h3.sideBar_title Search
    .sideBar_search
      form.clearfix
        input(type="text" name="search").sideBar_search--input
        button.sideBar_search--btn
          .fa.fa-search.fa-lg

