aside.l-side-bar.col-3
  nav
    ul
      li
        .sideBar-about-me I'm Robert Janagap a front-end developer and focusing more in javascript.you can follow me in.
      li
        a(href="") fb
      li
        a(href="") twitter
      li
        a(href="") gmail
aside.l-side-bar.col-3
  nav
    ul
      li
        h3.l-sidebar-title Recent Blogs
      li
        a(href="") blog1
      li
        a(href="") blog2
      li
        a(href="") blog3
      li
        a(href="") blog4
      li
        a(href="") blog4
  .search-toolbar