aside.l-side-bar.col-3
  nav
    ul
      li.l-sidebar-list
        h3.l-sidebar-title Social Media
        ul.l-sidebar-link
          li
            a(href="") fb
          li
            a(href="") twitter
          li
            a(href="") gmail 
      li.l-sidebar-list  
        h3.l-sidebar-title Recent Blogs
        ul.l-sidebar-link
          li
            a(href="") blog1
          li
            a(href="") blog2 
          li
            a(href="") blog3
          li
            a(href="") blog4
          li
            a(href="") blog4
  .search-toolbar